DATABASE_URL=
DIRECT_URL=
NEXT_PUBLIC_APP_URL=
CIRCLE_APP_KEY=
ACCESSMESH_TREASURY_WALLET=0x60deB98192983408a77c13BB8A886114478b9B5F
ACCESSMESH_PUBLISH_FEE_USDC=0.1
ARC_RPC_URL="https://rpc.testnet.arc.network/"
VIEM_RPC_URL="https://rpc.testnet.arc.network/"
NEXT_PUBLIC_CLIENT_URL="https://modular-sdk.circle.com/v1/rpc/w3s/buidl"
NEXT_PUBLIC_CLIENT_KEY=
CIRCLE_API_KEY=
GEMINI_API_KEY=
