DATABASE_URL="file:./dev.db"
CIRCLE_APP_KEY=
ARC_RPC_URL="https://rpc.testnet.arc.network/"
VIEM_RPC_URL="https://rpc.testnet.arc.network/"
VITE_CLIENT_URL="https://modular-sdk.circle.com/v1/rpc/w3s/buidl"
VITE_CLIENT_KEY=
API_KEY=