DATABASE_URL="file:./dev.db"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
CIRCLE_APP_KEY=
ACCESSMESH_TREASURY_WALLET=0x741DbDf72BF08940A86eEac550f5a0E80A25C922
ARC_RPC_URL="https://rpc.testnet.arc.network/"
VIEM_RPC_URL="https://rpc.testnet.arc.network/"
NEXT_PUBLIC_CLIENT_URL="https://modular-sdk.circle.com/v1/rpc/w3s/buidl"
NEXT_PUBLIC_CLIENT_KEY=
API_KEY=
